* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --principal-font: 'Unbounded', cursive;
    --color-primary: #123456;
    --color-secondary: #FFF;
    --azul-royal: #144480;
    --fundo-card-timer: rgba(20, 68, 128, 0.30);
    --lils: #B872FF;
    --linear-botes: linear-gradient(180deg, #B872FF 0%, #144480 100%);
}

[data-contexto='foco'] {

    --main-bg-color: linear-gradient(180deg, #8B1FF8 0%, #041832 48.44%, #01080E 100%);
}

[data-contexto="descanso-curto"] {
    --main-bg-color: linear-gradient(180deg, #0F725C 0%, #041832 48.44%, #01080E 100%);
}

[data-contexto="descanso-longo"] {
    --main-bg-color: linear-gradient(180deg, #1875E9 0%, #041832 48.44%, #01080E 100%);
}

html {
    background: var(--main-bg-color); 
    min-height: 100vh;
}


body {
    min-height: 100vh;
    background-image: url('./imagens/pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    text-align: center;
    padding: 2em 0 1em 0;
}

.text {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 10em;
    text-align: center;
}

.text-content {
    font-family: var(--principal-font);
    font-size: 3.3rem;
    line-height: 150%;
    font-weight: 200;
    color: var(--color-secondary);
}

.principal-text {
    animation: brilho 2s linear infinite alternate;
}

.image-content {
    text-align: center;
}

.motherboard {
    margin: 2em 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.principal-motherboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40em;
    padding: 1em 1.5em 2em 1.5em;
    border-radius: 15px;
    border: 3px solid var(--azul-royal);
    background: var(--fundo-card-timer);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn {
    padding: 1em 0.5em;
    font-size: 1rem;
    color: var(--color-secondary);
    background: transparent;
    border: transparent;
    font-family: var(--principal-font);
    font-weight: 400;
    cursor: pointer;

}

.btn:active, .btn:focus {
    background: var(--azul-royal);
    border-radius: 15px;
}

#checkbox-input {
    display: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 2em 0;
}

.checkbox {
    width: 60px;
    margin: 0 0.8em 0 0;
    height: 30px;
    background: rgb(207, 207, 207);
    border-radius: 15px;
    padding: 0.5em;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.checkbox-button {
    transform: translateX(-25%);
    width: 30px;
    height: 30px;
    border-radius: 60px;
    background: var(--color-secondary);
    transition: transform 0.5s ease;
}

#checkbox-input:checked + label > .checkbox > .checkbox-button {
    transform: translateX(80%);
}

#checkbox-input:checked + label > .checkbox {
    background: rgb(89, 161, 255);
}

.checkbox-container p {
    font-size: 1rem;
    color: var(--color-secondary);
    font-family: var(--principal-font);
    font-weight: 200;
}

.button__confirm-choose {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--linear-botes);
    padding: 0.4em 2.5em;
    border: none;
    border-radius: 50px;
    color: var(--color-secondary);
    font-family: var(--principal-font);
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 8em 0 2em 0;
    font-size: 0.875rem;
    color: rgba(201, 199, 199, 0.938);
    font-family: var(--principal-font);
}

.work-space {
    margin-top: 3em;
    font-family: var(--principal-font);
}

.work-theme {
    color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    gap: 4em;
    align-items: center;
    margin-right: 4em;

}

.work-theme p {
    margin-right: 1.5em;
    font-size: 0.875rem;
    font-weight: 200;
}

.work-theme h1 {
    font-size: 1.2rem;
    font-weight: 400;
}

.line {
    margin-top: 3em;
    height: 2px;
    width: 100%;
    background-color: var(--azul-royal);
}

.title-tasks {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.title-tasks p {
    color: var(--color-secondary);
    font-size: 1.2rem;
}

.bi-exclamation-circle {
    color: #B872FF;
}

#Span-icon {
    padding: 0 0.8em 0 0;
}

.time {
    display: flex;
    color: var(--color-secondary);
    padding: 0 0 0 0;
    font-family: var(--principal-font);
    font-size: 5.2rem;
}

.btn_add-task {
    display: flex;
    width: 100%;
}

.add-list-box-active {
    border: 2px solid white;
    animation: brilho 2s linear infinite alternate;
}

.add-list-box.add-list-box-complete {
    background-color: #00F4BF66;
    fill: #00F4BF66;
}

.btn_add span {
    vertical-align: middle;
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0 1em;
}

.btn_add {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    background: transparent;
    border: 2px solid #B872FF;
    font-family: var(--principal-font);
    border-radius: 25px;
    color: #B872FF;
    cursor: pointer;
}

.btn_add:hover {
    color: black;
    background-color: #B872FF;
}

.form-addtask {
    background: #FFFFFF80;
    padding: 1em;
    margin: 0.9em 0;
    border-radius: 15px;
}

.hidden {
    display: none;
}

.submit-form {
    display: none;
}

.form-inputs textarea {
    background: #98A0A8;
    border: none;
    padding: 1em;
    border-radius: 15px;
    outline: none;
}

.form-inputs textarea::placeholder {
    padding: 4em 0 0 3em;
    font-family: var(--principal-font);
    font-size: 0.875rem;
}

.title-add {
    margin: 1em 0;
    font-size: 1.2rem;
}

.seg_input-forms {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

label {
    justify-content: center;
}

.btn-form {
    background: none;
    border: none;
    color: black;
    font-family: var(--principal-font);
    padding: 1em 0;
    margin: 0 1em 0 1em;
    display: flex;
}

.btn-form svg {
    margin-right: 0.8em;
}

.cancel svg {
    transform: translateY(-12%);
}

.cancel span {
    transform: translateY(10%);
}

.save {
    background: black;
    color: white;
    padding: 1em 1em;
    align-items: center;
    border-radius: 30px;
}

.add-list-box {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #FFFFFF80;
    padding: 1.2em 1em;
    border-radius: 15px;
    margin: 1em 0;
}

.left-content {
    display: flex;
    align-items: center;
}

.task-name {
    margin-left: 1em;
    font-size: 1.125rem;
}

.edit-button {
    background: transparent;
    border: none;
}

.image-edit-btn {
    width: 32px;
    height: 32px;
}

.button-tasks {
  background: transparent;
  border: none; 
}

.box-button-task {
    display: none;
}

.button-tasks:active ~ .box-button-task {
    display: block;
}

#Checkbox {
    display: none;
}

.caixa-opt {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 100.1%;
    right: 18%;
    min-width: 24rem;
    background: #1B293B;
    padding: 1em 0.2em; 
    border: 1px solid #144480;
    border-radius: 5px;
}

.box-img {
    margin: 0 1em 0 0;
}

.limpar {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: transparent;
    border: none;
    color: white;
    font-family: var(--principal-font);
    font-size: 0.875rem;
    margin-bottom: 1em;
    cursor: pointer;
}

#Checkbox:checked ~ .caixa-opt {
    display: flex;
}

@media screen and (max-width: 485px) {
    .logo img {
        transform: translateX(10%);
    }

    .text {
        transform: translateX(20%);
    }

    .principal-img {
        width: 20em;
        height: 20em;
    }
    
    .principal-text {
        line-height: 110%;
        font-size: 2rem;
    }

    .principal-motherboard {
        padding: 1em 0;
        width: 25em !important;
    }
    
    .buttons {
        gap: 10px;
    }
}

@media screen and (max-width: 430px) {
    .logo img {
        transform: none;
    }

    .pricipal-motherboard {
        transform: translateX(100%);
        padding: 1em 0;
        width: 25em !important;
    }
}

@media screen and (max-width: 1024px) {
    .principal-motherboard {
        width: 30em;
    }
    .text {
        display: flex;
        flex-direction: column;
    }

    .text-content {
        margin: 1em 0;
    }
}

@keyframes brilho {
        0% {
            color: rgba(255, 255, 255, 0.5);
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        }
        100% {
            color: rgba(255, 255, 255, 1);
            text-shadow: 0 0 20px rgba(255, 255, 255, 1);
        }
}
